.slideshow-container {
    margin: auto;
    overflow: hidden;
    height: 100%;
}

.mySlides {
    height: 100%;
    text-align: center;
}

.mySlides img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    max-width: 277px;
    border-radius: 8px;

}


/* Dot */

.dot-container {
    text-align: center;
    padding: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #bbb;
}
