@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --color-primary: #222831;
  --color-secondary: #344955;
  --color-extra: #d4e9e2;
  --color: rgb(255, 255, 255);
  --bgColor:  #222831;
}


body, html {
  font-family: 'Open Sans', sans-serif;
  background-color: #222426;
  height: 100%; /* Full height */
  width: 100%;  /* Full width */
  margin: 0;    /* Remove default margin */
  padding: 0;   /* Remove default padding */
  
}



a {
  color: #000;
}



p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

section a {
  color: #fff;
}


/* Box */
.box {
  border-radius: 15px;
  padding: 20px;
  margin: 35px 40px;
}

.box-inner {
  max-width: 90%;
  margin: 0 auto;
}

.box-text {
  max-width: 500px;
  text-align: center;
  justify-self: center;
  /* margin: 0 auto; */
}

.box-text .btn {
  margin-top: 20px;
}

.box-f .box-text {
  max-width: 600px;
}
 .box-section{
  padding: 20px;
  margin: 0 auto;
  text-align: left;
 }

h3{
text-align: left;
padding: 20px 0px 0px 0px;
}

.detail-box ul {
  padding-left: 42px; /* Controls distance between the bullet and text */
  list-style-position: outside; /* Keeps the bullets outside of the list */
}

.detail-box ul li {
  /* padding-left: 20px; */
  padding-bottom: 10px; /* Adds spacing between items */
  list-style-type: disc; /* Default bullet type, you can change it */
  text-align: left;

}

/* Layout Styles */
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 1rem;
  align-items: center;
  width: auto;
  justify-content: space-between;
}

.grid-reversed :first-child {
  order: 2;
}

.grid-col-1 {
  display: flex;

}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.btn-dark-outline {
  border-color: #000;
  color: #000;
}

.btn-dark-outline:hover,
.btn-light-outline:hover {
  background-color: #FF8C00;
}

.btn-light-outline {
  border-color: #fff;
  color: #fff;
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-dark:hover {
  background-color: #333;
}

/* Backgrounds */
.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
  border: 1px  solid #363e4a;
}
.bg-secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.bg-extra {
  background-color: var(--color-extra);
  color: #000;
}
.bg-dark {
  background-color: var(--color-dark);
  color: #000;
}

/* Text Styling */
.text-center {
  text-align: center;
}

.text-title {
  font-size: 47px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  padding: 20px;
  color: #fff;
  margin: 0;
}

.text-xl {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  margin: 0px;
}

.text-lg {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text-md {
  font-size: 22px;
  margin-bottom: 20px;
}

.text-sm {
  font-size: 19px;
  margin-bottom: 20px;
}

/* Padding */
.py-sm {
  padding: 10px 0;
}
.py-md {
  padding: 20px 0;
}
.py-lg {
  padding: 40px 0;
}



.img-profile-container {
  text-align: center;
}

.img-profile-container img {
  max-width: 100%;
  width: 50%;
  height: auto;
  border-radius: 10px; /* Optional: add some border-radius for styling */
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: add some border-radius for styling */

}

@media (max-width: 960px) {
  .text-xl {
    font-size: 30px;
  }

  .text-lg {
    font-size: 25px;
  }

  .text-md {
    font-size: 19px;
  }
}

@media (max-width: 768px) {

  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .grid-reversed :first-child {
    order: 0;
  }


  .footer {
    text-align: center;
  }
  
  .box{
    margin: 35px 20px;
  }
}

@media (min-width: 1440px) {
  .box {

  }
}
