@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --color-primary: #222831;
  --color-secondary: #344955;
  --color-extra: #d4e9e2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000;
  background-color: #222426;
}

a {
  color: #000;
}



p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

section a {
  color: #fff;
}



/* Footer & Social */
.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;
}

.social {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.social img {
  width: 35px;
  height: 35px;
}

.social a {
  text-decoration: none;
  margin-right: 20px;
}

.divider {
  width: 95%;
  height: 1px;
  background-color: #ccc;
  margin: 40px auto;
}

/* Box */
.box {
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 20px;
}

.box-inner {
  max-width: 90%;
  margin: 0 auto;
}

.box-text {
  max-width: 500px;
  text-align: center;
  justify-self: center;
  padding: 20px 0;
  margin: 0 auto;
}

.box-text .btn {
  margin-top: 20px;
}

.box-f .box-text {
  max-width: 600px;
}
 .box-section{
  padding: 20px;
  margin: 0 auto;
  text-align: center;
 }

h3{
text-align: left;
padding: 20px 0px 0px 0px;
}

ul {
  padding-left: 20px; /* Controls distance between the bullet and text */
  list-style-position: outside; /* Keeps the bullets outside of the list */
}

li {
  margin-bottom: 10px; /* Adds spacing between items */
  list-style-type: disc; /* Default bullet type, you can change it */
  text-align: left;
}

/* Grid Styles */
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.grid-reversed :first-child {
  order: 2;
}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.btn-dark-outline {
  border-color: #000;
  color: #000;
}

.btn-dark-outline:hover,
.btn-light-outline:hover {
  background-color: #FF8C00;
}

.btn-light-outline {
  border-color: #fff;
  color: #fff;
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-dark:hover {
  background-color: #333;
}

/* Backgrounds */
.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
}
.bg-secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.bg-extra {
  background-color: var(--color-extra);
  color: #000;
}
.bg-dark {
  background-color: var(--color-dark);
  color: #000;
}

/* Text Styling */
.text-center {
  text-align: center;
}

.text-xl {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-lg {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text-md {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-sm {
  font-size: 19px;
  margin-bottom: 20px;
}

/* Padding */
.py-sm {
  padding: 10px 0;
}
.py-md {
  padding: 20px 0;
   margin-top: 30px;
}
.py-lg {
  padding: 40px 0;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 2rem;
  align-items: center;
}

.img-profile-container {
  text-align: center;
}

.img-profile-container img {
  width: 50%;
  height: auto;
  border-radius: 10px; /* Optional: add some border-radius for styling */
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: add some border-radius for styling */

}

@media (max-width: 960px) {
  .text-xl {
    font-size: 30px;
  }

  .text-lg {
    font-size: 25px;
  }

  .text-md {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .grid-reversed :first-child {
    order: 0;
  }

  .navbar-brand img {
    width: 40px;
    height: 40px;
  }

  .navbar .navbar-nav-left,
  .navbar .navbar-nav-right {
    display: none;
  }

  .footer {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .box {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .divider {
    max-width: 90%;
  }
}
